{% extends 'index.html' %}

{% block title %}
Confirm email
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h2>Kiểm tra tính năng gửi email xác nhận</h2>
<form method="POST" action="/api/orders/send-confirmation/">
    {% csrf_token %}
    <label for="order_id">Order ID:</label>
    <input type="number" id="order_id" name="order_id" placeholder="Nhập mã đơn hàng" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Nhập email" required>
    
    <input type="submit" value="Xác nhận">
</form>
{% endblock %}
